* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

table {
  width: 100vw;
  height: 80vh;
  border-collapse: collapse;
  border: none;
  text-align: center;
}

header,
footer {
  width: 100vw;
  height: 10vh;
  background-color: #ffffff;
  color: #f32d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.titulo,
.botones {
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.botones button {
  height: 7vh;
  width: 15vw;
  font-size: 1em;
  color: #ff2020;
  background-color: #ffffff;
  border-radius: 40px;
  border: 4px solid red;
}

thead,
tfoot,
tbody {
  display: block;
  font-weight: bold;
}

thead,
tfoot {
  width: 100vw;
  height: 10vh;
  background-color: #ffffff;
  color: #ff0202;
  display: flex;
  align-items: center;
}

thead td,
tfoot td {
  width: 16.6vw;
  padding: 15px;
  border: 2px solid #ff0000;
}

tbody {
  height: 60vh;
  overflow-y: auto;
}

tbody td {
  width: 16.6vw;
}

.articulos-tr {
  background-color: #ffffff;
}

.articulos-td {
  padding: 10px;
  color: #ff0000;
}
button:focus {
  outline-width: 0;
}

.cerrar {
  background: #606061;
  color: #ffffff;
  padding: 0.5%;
  text-decoration: none;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  font-weight: bold;
}
.cerrar:hover {
  background: #1aa6b7;
}
#btn {
  background-color: #1aa6b7;
  color: white;
  font-weight: bold;
  width: 20vw;
  height: 15vh;
  font-size: 1em;
}

#contenedor-interno {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: none;
  width: 90vw;
  margin: 20px auto;
  text-align: center;
}
